<h1>Admininistration</h1>

<p><%=@users.size.to_s %> people showed their interest!</p>


   <table>
      <thead>
   		<th>Email</th>
   		<th>Mobile</th>
         <th>Registration Date</th>
   		<th>Payment Method</th>       
      </thead>
      <tbody>
         <% @users.each do |user| %>
         <tr>
            <td><%= user.email %></td>
            <td><%= user.mobile %></td>
            <td><%= user.created_at %></td>
            <td><%= user.payment_method %> </td>
         </tr>
      <% end %>
      </tbody>
   </table>
</div>
