<h1>Gater med planlagte hendelser</h1>

  <ul style="list-style-type:none;">
  <% @streets.each do |street| %>
    <li>
      <span style="width: 300px;display: block;float: left;"><%= street.streetname %></span>

      <a href=%= link_to 'Planned events', street %>
      <%= link_to 'Show', street %>
      <%= link_to 'Edit', edit_street_path(street) %>
      <ul>
        <% street.planned_events.each do |event| %>
          <li>'<%=event.comment %>' Start: <%= event.start_date %>  Slutt: <%= event.start_date %></li>
        <% end %>
      </ul>
      <!--<td><%= link_to 'Destroy', street, confirm: 'Are you sure?', method: :delete %></td>-->
    </li>
  <% end %>

</ul>

<br />

<%= link_to 'New Street', new_street_path %>
