<p id="notice"><%= notice %></p>

<p>
  <b>Streetname:</b>
  <%= @street.streetname %>
</p>

<p>
  <b>Lat:</b>
  <%= @street.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @street.lng %>
</p>


<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>
