<!DOCTYPE html>
<html>
<head>
  <title>Never get towed</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag  "blueprint/typography" %>
</head>
<body style='background:#87A3C9'>
<div style='margin:40px auto; width:960px; '>
	<% if current_user %>
	  Logged in as <%= current_user.email %>.
	  <%= link_to "Log out", logout_path %>
	<% else %>
	  <%= link_to "Sign up", signup_path %> or
	  <%= link_to "log in", login_path %>.
	<% end %>
	<div style='background:white;padding:10px;'>
		<%= yield %>
	</div>
</div>

</body>
</html>
