<!DOCTYPE html>
<html>
<head>
  <title>Never Get Towed!</title>
  <%= stylesheet_link_tag  "sencha/css/sencha-touch" %>
  <%= javascript_include_tag "touch/sencha-touch" %>
  <%= javascript_include_tag "touch/app" %>
  <%= javascript_include_tag "touch/views/viewport" %>
  <!-- Google Maps JS -->
	 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
